/* Our CSS Document */

body { 
    background-color: violet;
}

.nprImg {
    height: 50px;
    width: 50px;  
}

.unsplashImg {
    width: 50px;
    height: 50px;    
}

#puppycontainer {
    position: relative;
}

#cutepup {
    width: 100%;
    height: auto;
    margin: 20px;
    
}

#puppytext {
    left: 50%;
    border-style: dotted;
    border-width: thin;
    text-shadow: 5px 5px 5px green; 
    position:absolute;
    text-align:center;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: white; 
}

#rollingPuppy {
    float: right;
    background: #73AD21;
    padding: 20px;
    width:200px;
    height: 150px;
    border-radius: 25px;
}

#rollingImg {
    width: 150px;
}